<form method="post" action="{{ path('app_commentaire_post_delete', {'id': commentaire_post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire_post.id) }}">
    <div class="row mb-3">
    <button class="btn btn-danger">Delete</button>
    </div>
</form>
