{% extends 'base.html.twig' %}

{% block title %}Edit CommentairePost{% endblock %}

{% block body %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Gestion des Commentaires du forum</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Gestion Forum</li>
                <li class="breadcrumb-item ">Commentaire</li>
                <li class="breadcrumb-item active">Edit </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div >
                <div class="card">
                    <div class="card-body">
    {{ include('commentaire_post/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('commentaire_post/_delete_form.html.twig') }}
    <div class="row mb-3">
        <a class="btn btn-secondary" style="color:white;text-decoration: none"href="{{ path('app_commentaire_post_index') }}">Back to list</a>
    </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}
